<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>helpcue</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <div ng-app="helpcue">
    <div ng-controller="MainCtrl">

      <a ng-click="toggleAuth()">
        <span ng-hide="data.user" class="login">Hey. Log In first.</span>
        <span ng-show="data.user">Log Out</span>
      </a>

      <div class="user">
        <img ng-src="{{data.user.github.cachedUserProfile.avatar_url}}" class="avatar">
        <p>{{data.user.github.displayName}}</p>
      </div>

      <ul class="rooms">
        <li ng-repeat="room in rooms">
          <a ng-click="data.currentRoom = room" ng-class="{current: data.currentRoom.$id == room.$id}">
            {{room.name}}
            <button ng-click="rooms.$remove(room)">&times;</button>
          </a>

        </li>
        <li>
          <form ng-submit="addRoom()">
            <input ng-model="newRoom.name" type="text" placeholder="+ Add a Room">
          </form>
        </li>
      </ul>


      <section class="messages">
        <div ng-repeat="message in messages" class="message" ng-show="data.currentRoom.$id == message.room">
          <!-- edit a message -->
          <p class="user-name">
            <img ng-src="{{getAvatar(message.user)}}" class="avatar">
            {{ getUser(message.user, 'name')}}
          </p>

          <button ng-click="messages.$remove(message)">&times;</button>
          <textarea  ng-model="message.text" ng-change="messages.$save(message)"></textarea>

        </div>
      </section>

      <!-- push a new message onto the array -->
      <form ng-submit="addQuestion()">
        <input ng-model="question.text" placeholder="question">
        <button type="submit">Add Message</button>
      </form>

    </div>
  </div>

  <script src="angular.min.js"></script>
  <script src="firebase.js"></script>
  <script src="angularfire.min.js"></script>
  <script src="scripts.js"></script>
</body>
</html>
